<div class="p-3 mb-2 bg-black text-white">
<div id="<%= dom_id article %>">
 
 <p>
    <strong>Titre:</strong>
    <%= article.titre %>
  </p>

  <p>
    <strong>Chapo:</strong>
    <%= article.chapo %>
  </p>

  <p>
    <strong>Texte:</strong>
    <%= article.texte %>
  </p>

  <div class="row justify-content-center">
    <div class="col-7">
      <p><strong>Image:</strong></p>
      <img  src=" <%= article.image %>" style="width: 500px; height: 500px;">
    </div>
  </div>

</div>
</div>
