<div id="<%= dom_id article %>">
  <p>
    <strong>Titre:</strong>
    <%= article.titre %>
  </p>

  <p>
    <strong>Chapo:</strong>
    <%= article.chapo %>
  </p>

  <p>
    <strong>Texte:</strong>
    <%= article.texte %>
  </p>

  <p>
    <strong>Image:</strong>
    <%= article.image %>
  </p>

</div>
